name: Generate multi-arch releases

permissions:
  id-token: write
  contents: write
  attestations: write
  packages: write

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-and-publish-docker-images:
    name: Build and publish Docker images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          file: ./docker/Dockerfile.multiarch
          platforms: linux/amd64,linux/arm64
          push: true
          tags: sctg/markdown2pdf:latest, sctg/markdown2pdf:${{ github.event.release.tag_name }}

      - name: Pull images and mount to different arch for extracting binary
        run: |
          mkdir -p ${{ github.workspace }}/release-artifacts
          docker pull sctg/markdown2pdf:latest
          docker run --rm --platform linux/amd64 -v ${{ github.workspace }}/release-artifacts:/artifacts sctg/markdown2pdf:latest cp /usr/local/bin/markdown2pdf /artifacts/markdown2pdf-linux-amd64
          docker run --rm --platform linux/amd64 -v ${{ github.workspace }}/release-artifacts:/artifacts sctg/markdown2pdf:latest cp /out/*.deb /artifacts/ || true
          docker run --rm --platform linux/arm64 -v ${{ github.workspace }}/release-artifacts:/artifacts sctg/markdown2pdf:latest cp /usr/local/bin/markdown2pdf /artifacts/markdown2pdf-linux-arm64
          docker run --rm --platform linux/arm64 -v ${{ github.workspace }}/release-artifacts:/artifacts sctg/markdown2pdf:latest cp /out/*.deb /artifacts/ || true
      - name: List release artifacts
        run: ls -la ${{ github.workspace }}/release-artifacts
      - name: Upload release artifacts using GitHub CLI
        shell: bash
        run: |
          gh release upload ${{ github.event.release.tag_name }} ${{ github.workspace }}/release-artifacts/* --clobber